body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
    scroll-behavior: smooth;
}

header {
    background-color: #3b6978; /* Color principal de FastAPI */
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.menu-icon {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 1em;
}

.menu li {
    margin: 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s, transform 0.3s;
}

.menu li a:hover {
    background-color: #67b7a3; /* Color de hover inspirado en Vue.js */
    transform: scale(1.1);
    border-radius: 4px;
}

#menu-toggle {
    display: none;
}

.section {
    padding: 6em 0;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.section h2 {
    margin-bottom: 1em;
    color: #3b6978; /* Color principal de FastAPI */
}

.section p {
    line-height: 1.6;
}

.project {
    background-color: white;
    padding: 2em;
    margin: 1em 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-top: 0;
    color: #68a063; /* Color de Node.js */
}

.project p {
    margin-bottom: 1em;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #3b6978; /* Color principal de FastAPI */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #68a063; /* Color de hover inspirado en Node.js */
    transform: scale(1.1);
}

.tech-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.tech-icons a {
    transition: transform 0.3s;
}

.tech-icons a:hover {
    transform: scale(1.1);
}

.social-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}

.social-buttons .button {
    background-color: #3b6978; /* Color principal de FastAPI */
    color: white;
}

footer {
    background-color: #3b6978; /* Color principal de FastAPI */
    color: white;
    padding: 1em 0;
    text-align: center;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
    }
    .menu-icon {
        display: block;
    }
    #menu-toggle:checked + .menu {
        display: flex;
    }
    .section {
        padding: 3em 1em;
    }
    .project {
        margin: 1em 0;
    }
}
